<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Menu </title>
</head>

<body>
    <nav>
        <a href="/books/new">Add a New Food</a>
    </nav>

    <h1>My Food List</h1>
    <ul>
        <% foods.forEach(food=> { %>
            <li>
                <a href="/foods/<%=food._id; %>">
                    <%=food.name; %>
                </a>
                <form  action="/foods/<%= food.id %>?_method=DELETE" method="POST" style="display:inline; margin-left:16px;">
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/foods/<%=food._id %>/edit">Edit</a>
            </li>
            <% }) %>
    </ul>

</body>

</html>