<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Menu </title>
</head>

<body>
    <nav>
        <a href="/foods/new">Add a New Food</a>
    </nav>

    <h1> Moe's Kitchen </h1>
   
    
    <ul>
      <% for(var i = 0; i < foods.length; i++){ %>
      <li>
         <a href="/foods/<%=foods[i]._id%>"><%=foods[i].Name; %></a> 
      </li>
      <% } %>
    </ul>

  

</body>

<style>
  h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 102, 0);
  }
  h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(229, 255, 0);
  }
  body{
    background-image: url(https://i.imgur.com/JsCpjJi.jpg?1);
  }

  a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: brown;
   }
   ul {
     align-items:baseline;
   }

</style>
</html>