<!DOCTYPE html>
<html lang="en">
    
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Menu</title>
	</head>

	<body>
		<nav>
			<a href="/foods">Back to Menu</a>
		</nav>
		<h1>New Food Page</h1>
		<form action="/foods" method="POST">
			Name: <input type="text" name="Name" /><br />
			Category: <input type="text" name="Category" /><br />
			Price: <input type="text" name="Price" /><br />
			Paid: <input type="checkbox" name="Paid" /><br />
			Image: <input type="text" name="Image" /><br />
			<input type="submit" name="" value="Add Food" />
		</form>
	</body>
   <style>
	   body{
		   background-image: url(https://i.imgur.com/9TTZfB6.jpg?1);
	   }
	   input{
		   margin-bottom: 10px;

	   }
	   h1 {
		   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		   color: rgb(234, 220, 26);
	   }
	   form {
		   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		   color: rgb(7, 249, 184);
		   justify-content:end;
	   }
	   
   </style>
</html>