<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title> Menu </title>
	</head>
	<body>
		<nav>
			<a href="/foods">Back to Menu</a>
		</nav>
		<h1><%=food.name %></h1>
		Category: <%= food.category%>
		<br />
		Price: <%= food.price%>
		<br />
		Paid: <%= food.paid %>
	</body>
</html>